.product-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 200px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;

      &.active {
        font-weight: bold;
        color: #007bff;
      }

      &:hover {
        background: #007bff;
        color: white;
      }
    }
  }
}

.product-list {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.product-card {
  padding: 15px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.product-link {
  text-decoration: none;
  color: inherit; /* Make the link inherit text color */
  display: block; /* Make the link cover the entire card */
  height: 100%; /* Ensure it spans the full height of the product card */
}

.product-card:hover{
  background-color: #e0e0e0; /* Change background color on hover */
  transition: background-color 0.3s, transform 0.3s;
}

.product-card h3, .product-card p {
  margin: 10px 0;
}

.product-card button :hover{
  background-color: #e0e0e0; /* Change background color on hover */
  transition: background-color 0.3s, transform 0.3s;
}