<nav class="nav">

  <!-- display order and cart for logged in users only -->
  <ng-container  *ngIf="authService.getLoginStatus(); else loginTemplate">
    <ul>
      <li>
        <a
          *ngFor="let item of nav"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: item.exact}"
        > {{item.name}} </a>
      </li>
      <!-- <li class="user-menu">
        <a (click)="toggleDropdown()">
          Hello, user <span class="arrow">▼</span>
        </a>
        <ul class="dropdown" *ngIf="dropdownOpen">
          <li (click)="logout()">Log out</li>
          <li (click)="updatePassword()">Change Password</li>
        </ul>
      </li> -->
      <li><a >Hello, user
        <select name="dropdown-manu" (change)="onOptionSelect($event)">
          <option value="" selected disabled> </option>
          <option value="logout">Log out</option>
          <option value="updatePassword">Change Password</option>
        </select>
      </a></li>
    </ul>
  </ng-container>

  <!-- display login/register if not logged in -->
  <ng-template #loginTemplate>
    <ul>
      <li><a routerLink="/products">Products</a></li>
      <li><a [routerLink]="'/login'">Login / Register</a></li>
    </ul>
  </ng-template>
</nav>

